* {
    font-family:'Lato', sans-serif;
    font-weight:bold;
    width: 100%;
}

.hero {
    background-image: url(../images/forest_hero.jpg);
    background-attachment: fixed;
    background-size: cover;
    color: white;
}

/* Headshot image in the about section */
img {
    height: auto;
    max-width: 100%;
}

/* Add Padding to all section titles */
.section-title {
    padding: 20px;
}

.project {
    box-shadow: 0 5px 20px rgba(14, 25, 80, 0.3);
}

.project:hover {
    box-shadow: 0 2px 25px 0 rgba(30, 30, 30, 0.1);
}

/* Work section images for each project */
#nostalgia-generator {
    background-image: url(../images/work_nostalgia-generator.png);
}

#motown-quiz {
    background-image: url(../images/work_motown-quiz.png);
}

#workday-scheduler {
    background-image: url(../images/work_workday-scheduler.png);
}

#password-generator {
    background-image: url(../images/work_password-generator.png);
}

/*Contact form styling */
/* Keep font for placeholder text in input fields */
::placeholder {
    font-family:'Lato', sans-serif;
}

/* Submit contact form button*/
.button {
    font-family:'Lato', sans-serif;
    font-weight: bold;
    width: 100%;
}